
<mat-card class="top" >
    <img class="doctor-image"  src="https://i.pinimg.com/564x/e3/69/d7/e369d7e313c8dc041f24958d5d36ff67.jpg" alt="zdjecie lekarza">
    <mat-card class="address-card">
        <mat-card-title>Adresy</mat-card-title>
        <mat-card-content class="addresy-flex">
            <mat-tab-group color="accent">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon color="accent" >home</mat-icon>
                        1
                    </ng-template>
                    Kraków Aleja 3 maja 5. Pokój 23 drugie piętro
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon color="accent">home</mat-icon>
                        2
                    </ng-template>
                    Lublin Zamkowa 32. Parter pokój 360
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon color="accent">switch_video</mat-icon>
                        e-wizyta
                    </ng-template>
                    Dokładne instrukcje zostaną przesłane przed wizytą.
                    W przypadku chęci umówienia dokładnej drogi kontaktu prosze o sms 123 123 123
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
    <mat-card class="about-me">
        <mat-card-title style="cursor: pointer">Imie Nazwisko</mat-card-title>
        <mat-card-content>
            krótki opis
            voluptas impedit incidunt
            perspiciatis consequatur deserunt
            velit minus corporis voluptatibus
            ea non animi a nobis dolorem
            qui tenetur quas ducimus
            necessitatibus est libero qui eaque
        </mat-card-content>
    </mat-card>
    <mat-card class="more-information">
        <mat-tab-group color="accent" >
            <mat-tab >
                <ng-template mat-tab-label>
                    Cennik
                </ng-template>
                <table mat-table [dataSource]="medicalService" class="pricing">
                    <!-- name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- price Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Cena </th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} PLN</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="medicalServiceColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: medicalServiceColumns;"></tr>
                </table>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Ostatnie Opinie
                </ng-template>

            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    Więcej o mnie
                </ng-template>

            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <mat-card class="calendar">
        <mat-card-title>Najbliższe terminy</mat-card-title>
        <mat-card-content>not implemented</mat-card-content>
    </mat-card>
</mat-card>
