
<mat-card class="top" >
    <img class="doctor-image" (click)="redirect(doctorEntity.id)"  [src]='doctorEntity.thumbnailImageUrl' alt="zdjecie lekarza">
    <mat-card class="address-card">
        <mat-card-title>Adresy</mat-card-title>
        <mat-card-content class="addresy-flex">
            <mat-tab-group color="accent">
                <mat-tab *ngFor="let address of doctorEntity.addresses; let i = index">
                    <ng-template mat-tab-label>
                        <mat-icon color="accent" *ngIf="isEvisit(address.type)">switch_video</mat-icon>
                        <mat-icon color="accent" *ngIf="isNormalVisit(address.type)">home</mat-icon>
                    </ng-template>
                    {{address.information}}
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
    <mat-card class="about-me">
        <mat-card-title style="cursor: pointer">{{doctorEntity.firstName}} {{doctorEntity.lastName}}</mat-card-title>
        <mat-card-content>
            {{doctorEntity.briefDescription}}
        </mat-card-content>
    </mat-card>
    <mat-card class="more-information">
        <mat-tab-group color="accent" >
            <mat-tab >
                <ng-template mat-tab-label>
                    Cennik
                </ng-template>
                <table mat-table [dataSource]="doctorEntity.services" class="pricing">
                    <!-- name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- price Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Cena </th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} PLN</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="medicalServiceColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: medicalServiceColumns;"></tr>
                </table>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Ostatnie Opinie
                </ng-template>
                nott implemented
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    Więcej o mnie
                </ng-template>
                not implemented
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <mat-card class="calendar">
        <mat-card-title>Najbliższe terminy</mat-card-title>
        <mat-card-content>not implemented</mat-card-content>
    </mat-card>
</mat-card>
