
$gap: 30px;
$s_gap: 10px;
$button: 120px;
$dropdown: 500px;

.content{
    display: grid;
    //grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3,minmax(500px,1fr));
}

mat-card{
    grid-column-start: 2;

}

mat-toolbar {
    grid-column-start: 2;
}

.input-width {
    width: 300px;
}

.margin-bottom {
    margin-bottom: 30px;
}


.dropdown-width {
    width: $dropdown;
}


.jumbotron {
    background-image: url("https://wallpaperaccess.com/full/136999.jpg");
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.5);
    margin-top: -20px;
}
