<mat-toolbar>
    <span>{{websiteName}}</span>

    <button mat-button routerLink="/homepage" routerLinkActive="mat-accent">Strona domowa</button>
    <button mat-button routerLink="/shop" routerLinkActive="mat-accent">Wyszukaj wizyte</button>

    <span class="spacer"></span>
    <button  mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>settings</mat-icon>
    </button>
    <button class="leftmargin" mat-raised-button color="primary">Zaloguj się</button>
</mat-toolbar>
