<mat-toolbar>
    <span>{{websiteName}}</span>

    <button mat-button routerLink="/homepage" routerLinkActive="mat-accent">Strona domowa</button>
    <button mat-button routerLink="/szukaj" routerLinkActive="mat-accent">Wyszukaj wizyte</button>

    <span class="spacer"></span>
    <button [disabled]="true" mat-mini-fab color="primary" aria-label="ustawienia">
        <mat-icon>settings</mat-icon>
    </button>
    <button *ngIf="authenticationService.isNotLoggedIn()" mat-raised-button color="primary" routerLink="/logowanie"
            class="leftmargin" routerLinkActive="mat-accent">Logowanie
    </button>
    <button *ngIf="authenticationService.isNotLoggedIn()" mat-raised-button color="primary" routerLink="/rejestracja"
            class="leftmargin" routerLinkActive="mat-accent">Rejestracja
    </button>
    <button *ngIf="authenticationService.isLoggedIn()" mat-raised-button color="primary" class="leftmargin"
            (click)="logout()">Wyloguj się
    </button>
</mat-toolbar>
