<mat-toolbar>
    <button mat-button routerLink="/homepage" routerLinkActive="mat-accent"><h2>{{websiteName}}</h2></button>
    <button mat-button routerLink="/visits" routerLinkActive="mat-accent">Wyszukaj wizyte</button>
    <button *ngIf="authenticationService.isDoctor()" mat-button routerLink="/doctorPanel" routerLinkActive="mat-accent">Panel lekarza</button>
    <button *ngIf="authenticationService.isPatient()" mat-button routerLink="/patientPanel" routerLinkActive="mat-accent">Mój panel</button>


    <span class="spacer"></span>
    <!--<button-->
    <!--    *ngIf="authenticationService.isLoggedIn()"-->
    <!--    mat-mini-fab-->
    <!--    color="primary"-->
    <!--    aria-label="ustawienia."-->
    <!--&gt;-->
    <!--    <mat-icon>settings</mat-icon>-->
    <!--</button>-->
    <button routerLink="/login"
            *ngIf="authenticationService.isNotLoggedIn()"
            mat-raised-button
            class="leftmargin"
            routerLinkActive="mat-accent"
            type="button"
    >
        Logowanie
    </button>
    <button
        routerLink="/register"
        *ngIf="authenticationService.isNotLoggedIn()"
        mat-raised-button
        class="leftmargin"
        routerLinkActive="mat-accent"
        type="button"
    >
        Rejestracja
    </button>
    <button
        (click)="logout()"
        *ngIf="authenticationService.isLoggedIn()"
        mat-raised-button
        color="primary"
        class="leftmargin"
        type="button"
    >
        Wyloguj się
    </button>
</mat-toolbar>
