<mat-spinner *ngIf="!loaded"></mat-spinner>

<div *ngIf="loaded" class="top-container">
    <div  class="left-content" fxLayout="column" fxLayoutGap="20px">
        <!-- CARD-->
        <mat-card  class="patient-top-card">
            <!--patient image-->
            <img class="patient-image" [src]="patientEntity.thumbnailImageUrl" alt="zdjecie pacjenta">

            <!--short description-->
            <mat-card class="brief-description">
                <mat-card-title>
                    {{patientEntity.firstName}} {{patientEntity.lastName}}
                </mat-card-title>
                <mat-card-content>
                    Wiek: {{patientEntity.age}}
                </mat-card-content>
            </mat-card>

            <!--Treatment history-->
            <mat-card class="illness-history">
                <mat-card-title>
                    Historia leczenia:
                </mat-card-title>
                <mat-card-content class="illness-detail">
                    {{patientEntity.history}}
                </mat-card-content>
            </mat-card>

            <!--Medicine that patient takes-->
            <mat-card class="medicines">
                <mat-card-title style="margin-top: 8%">
                    Przeciwskazania:
                </mat-card-title>
                <mat-card-content class="medicine-decription" >
                    {{patientEntity.medicine}}
                </mat-card-content>
            </mat-card>
        </mat-card>
    </div>

</div>

