

<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Nadchodzące" >
        <mat-spinner *ngIf="!loaded"></mat-spinner>
        <div *ngIf="loaded" fxLayout="column" fxLayoutGap="40px">
            <app-doctor-visit-element  *ngFor="let visit of awaiting" [appointment]="visit" ></app-doctor-visit-element>
        </div>
    </mat-tab>
    <mat-tab label="Historia">
        <mat-spinner *ngIf="!loaded"></mat-spinner>
        <div *ngIf="loaded" fxLayout="column" fxLayoutGap="40px">
            <app-doctor-history-visit-element  *ngFor="let visit of history" [historyAppointment]="visit" ></app-doctor-history-visit-element>
        </div>
    </mat-tab>
</mat-tab-group>
