
#info{
    line-height: 25px;
    margin-left: 5%;
    font-size: 20px;
    text-decoration: none;
}

mat-list-item {
    //margin-left: 5%;
    //margin: 5px;
    //padding: 10px;
    display: block;
    border-right: 4px solid coral;
    border-left: 4px solid coral;
    font-size: 20px;
    background: #525050;
    margin: 0 0 10px 0;
}

mat-list{
    line-height: 3em;
}

mat-card-content {
    margin-left: 5%;
    font-size: 20px;
}

button {
    font-size: 15px;
    margin-left: 2%;
}
