    <mat-card>
        <mat-card-title style="margin-left: 2%;margin-top: 2%">
            Recepty
        </mat-card-title>
        <mat-card-content id="info">
            Teraz wszystkie swoje recepty masz w jednym miejscu! Wygodnie przeglądaj
            całą historię przypisanych Tobie recept, po kliknięciu w "szczegóły" wyświetlą Ci się
            dodatkowe informacje dotyczące wybranej recepty.
        </mat-card-content>

        <mat-card-title  style="margin-left: 2%;margin-top: 5%">
            Twoja lista recept
        </mat-card-title>

        <!--------sortowanie recept--------->
        <!---
        <mat-card-content fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center" class="margin-bottom">
            <mat-form-field appearance="fill" >
                <mat-label>Filtruj recepty:</mat-label>
                    <mat-select>
                        <mat-option value="DATA">chronologicznie</mat-option>
                        <mat-option value="NAZWA">alfabetycznie</mat-option>
                    </mat-select>
            </mat-form-field>
        </mat-card-content> ---->

        <!--------lista_recept--------->
        <mat-list>
            <mat-list-item>{{medicines[0].name}}
                <button mat-raised-button color="primary" routerLink = "/patientPanel/prescriptions/1">
                    Zobacz szczegóły
                </button>
            </mat-list-item>
            <mat-list-item>{{medicines[1].name}}
                <button mat-raised-button color="primary" routerLink = "/patientPanel/prescriptions/2">
                    Zobacz szczegóły
                </button>
            </mat-list-item>
            <mat-list-item>{{medicines[2].name}}
                <button mat-raised-button color="primary" routerLink = "/patientPanel/prescriptions/3">
                    Zobacz szczegóły
                </button>
            </mat-list-item>
            <mat-list-item>{{medicines[3].name}}
                <button mat-raised-button color="primary" routerLink = "/patientPanel/prescriptions/4">
                    Zobacz szczegóły
                </button>
            </mat-list-item>
            <mat-list-item>{{medicines[4].name}}
                <button mat-raised-button color="primary" routerLink = "/patientPanel/prescriptions/5">
                    Zobacz szczegóły
                </button>
            </mat-list-item>
        </mat-list>

    </mat-card>
