<mat-card>
    <mat-card-title class="padding-bottom"> Zaloguj się</mat-card-title>
    <form class="example-form">
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Email</mat-label>
            <input id="email" type="email" matInput placeholder="przykład@example.com">
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label >Password</mat-label>
            <input id="password" type="password" matInput>
        </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button color="primary">Zaloguj się</button>
        </mat-card-actions>
    </form>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>
