<script src="sign-in.component.ts"></script>
<mat-card>
    <mat-card-title class="pb-3"> Zaloguj się</mat-card-title>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <mat-form-field  appearance="fill" color="accent">
            <mat-label>Email</mat-label>
            <input
                id="email"
                type="email"
                matInput
                placeholder="przykład@example.com"
                ngModel
                name="email"
                required
                email
            >
            <mat-error>Wprowadź poprawny email</mat-error>
        </mat-form-field>
        <mat-form-field  appearance="fill" color="accent">
            <mat-label >Password</mat-label>
            <input
                id="password"
                type="password"
                matInput
                ngModel
                name="password"
                required
            >
        </mat-form-field>
        <mat-card-actions>
            <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">Zaloguj się</button>
        </mat-card-actions>
        <button (click)="help()" type="button" mat-flat-button>Konta developersie</button>
    </form>
</mat-card>

