
<script src="register-visit.component.ts"></script>
<mat-card>
    <mat-card-title>Zarejestruj wizytę</mat-card-title>
    <mat-card-content *ngIf="authenticationService.isLoggedIn(); else elseBlock">
        <mat-stepper orientation="vertical" [linear]="true">
            <!--address-->
            <mat-step>
                <ng-template matStepLabel>Wybierz adres wizyty</ng-template>
                <form
                    [formGroup]="addressForm"
                    (submit)="submitAddress()"
                >
                    <div fxLayout="column">
                        <mat-slide-toggle formControlName="isOnline" id="isOnline" color="primary" class="margin-top" #slider>
                            Online
                        </mat-slide-toggle>
                        <mat-form-field appearance="fill" *ngIf="!slider.checked">
                            <mat-label>Miejsce wizyty</mat-label>
                            <mat-select formControlName="addressId">
                                <mat-option
                                    *ngFor="let address of getPysicalAdress()"
                                    [value]="address.id"
                                >
                                    {{address.address}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="margin-top">
                        <button mat-raised-button matStepperNext type="submit" [disabled]="disableAddressSubmit()">Dalej</button>
                    </div>
                </form>
            </mat-step>

            <!--Data wizyty-->
            <mat-step>
                <ng-template matStepLabel>Wybierz datę wizyty</ng-template>
                <form
                    [formGroup]="dateForm"
                    (submit)="submitData()"
                >
                    <div fxLayout="column" fxLayoutGap="5px">
                        <mat-form-field appearance="fill">
                            <mat-label>Data</mat-label>
                            <input
                                formControlName="date"
                                matInput
                                [min]="today"
                                [matDatepicker]="picker"
                            >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Godzina</mat-label>
                            <mat-select
                                formControlName="hour"
                            >
                                <!--TODO change hardcoded values-->
                                <mat-option value="8:30">8:30</mat-option>
                                <mat-option value="9:00">9:00</mat-option>
                                <mat-option value="9:30">9:30</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="margin-top">
                        <button mat-raised-button matStepperPrevious>Cofnij</button>
                        <button mat-raised-button matStepperNext type="submit" [disabled]='dateForm.invalid' >Dalej</button>
                    </div>
                </form>

            </mat-step>
            <!--Typ uslugi-->
            <mat-step>
                <form
                    [formGroup]="typeForm"
                    (submit)="submitType()"
                >
                    <ng-template matStepLabel>Wybierz typ usługi</ng-template>
                    <mat-form-field appearance="fill" >
                        <mat-label>Rodzaj usługi</mat-label>
                        <mat-select
                            formControlName="serviceId"
                        >
                            <mat-option
                                *ngFor="let service of doctorEntity?.services"
                                [value]="service.id"
                            >
                                {{service.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="margin-top">
                        <button mat-raised-button matStepperPrevious>Cofnij</button>
                        <button mat-raised-button matStepperNext
                                type="submit"
                                [disabled]="typeForm.invalid"
                        >
                            Dalej
                        </button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <form
                    [formGroup]="visitTypeForm"
                    (submit)="submitVisitType()"
                >
                    <ng-template matStepLabel>Wybierz rodzaj świadczenia</ng-template>
                    <mat-form-field appearance="fill"
                    >
                        <mat-label>Rodzaj płatności</mat-label>
                        <mat-select
                            formControlName="visitType"
                            (blur)="onClickVisitType()"
                        >
                            <mat-option value="nfz">Nfz</mat-option>
                            <mat-option value="private">prywatnie</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="margin-top">
                        <button mat-raised-button matStepperPrevious>Cofnij</button>
                        <button mat-raised-button matStepperNext
                                type="submit"
                                [disabled]="visitTypeForm.invalid"
                        >
                            {{isPrivateVisit()? 'Dalej':'Zatwierdz'}}
                        </button>
                    </div>
                </form>
            </mat-step>
            <!--rodzaj platnosci i submit-->
            <mat-step
                *ngIf="isPrivateVisit()"
            >
                <form
                    [formGroup]="paymentForm"
                    (submit)="submitPayment()"
                >
                    <ng-template matStepLabel>Wybierz rodzaj płatności</ng-template>
                    <mat-form-field appearance="fill" >
                        <mat-label>Rodzaj płatności</mat-label>
                        <mat-select
                            formControlName="paymentType"
                        >
                            <mat-option value="Blik">Blik</mat-option>
                            <mat-option value="Przelew 24">Karta kredytowa</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="margin-top">
                        <button mat-raised-button matStepperPrevious>Cofnij</button>
                        <button
                            mat-raised-button
                            type="submit"
                            [disabled]="paymentForm.invalid"
                        >
                            Zatwierdź
                        </button>
                    </div>
                </form>
            </mat-step>

        </mat-stepper>
    </mat-card-content>
    <ng-template #elseBlock>
        <mat-card-content>
            Wymagane logowanie
        </mat-card-content>
    </ng-template>
</mat-card>
