

mat-sidenav-container {
    min-height: 100vh;
}
mat-sidenav{
    border-right:none;

}
mat-sidenav {
    width: 200px;
}

.list-item-active {
    color: #69f0ae;
}
mat-sidenav-content{
    padding: 25px;
}
